[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-protobuf = "==2.7.0"
flask = "*"
numpy = "*"
opencv-python = "*"
grpcio = "==1.42.0"
tensorflow-serving-api = "==2.7.0"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
